---
layout: multicol
permalink: /projects/
title: Projects
description: "What I do."
---
<body style="text-align:center;">Here is what I am currently working on.</body>

<div id="main">
    <div id="content-1">
        {% include _decision-policy.html %}
    </div><!-- /.project -->
    <div id="content-2"> 
        <div id="content-2-1">
        {% include _physiological-modeling.html %}
      </div><!-- /.project -->
        <div id="content-2-2">
        {% include _septic-shock.html %}
      </div><!-- /.project -->
    </div>
</div>